//===============================================================================
// FONTS
//===============================================================================




html, body, p { 
 colour: $ink;
 font-family: 'Roboto', sans-serif;
 line-height: 1.333;
}

h1 {
	color: $green1;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 36px;
	margin: 0 0 12px 0;
}

h2 { 
	color: $green2;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	margin: 8px 0;
}

h3, a {
	font-weight: 400;
	font-size: 16px;
	color: $green1;
	margin: 0 0 8px 0;
}

h5 {
	color: darken($grey, 10);
	font-weight: 400;
	font-size: 11px;
	margin: 0 0;
}

p {
	margin: 0 0 16px 0;
	color: $dgrey;
}

a {
	&:hover {
		color: $green2;
	}
}

.text-grey { color: $dgrey; }


