//===============================================================================
// TIMEZONES
//===============================================================================



.zonewrap {
	width: 100%;
	border-bottom: 1px solid $lgrey;
	padding: 16px 16px 16px 0;

	h2 { 
		font-weight: 300;
		margin: 0 0 0 0; 
	}

	&.empty h2 {
		font-size: 14px;
		color: $dgrey;
	}
}

.subzoneText {
	color: $grey;
}

.zone-ppl {
	margin: 0 0 0 0;
}

.zone-p-wrap {
	width: 48px;
	height: 48px;
	display: inline-block;
	margin-right: 8px;
	position: relative;

	&:first-of-type { margin-top: 16px; }

	h4 { margin: 0 0 4px 0; }

	img {
		width: 100%;
		height: 100%;
		border-radius: 100%;
		box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	}

	.p-name-wrap {
		display: none;
		padding: 8px 8px;
		border-radius: 100px;
		background: $green1;
		color: white;
		white-space: nowrap;
		position: absolute;
		width: 160px;
		top: 48px;
		left: calc(-80px + 24px);
	    z-index: 10;
	    text-align: center;

		
		&:before {
			content: "";
			position: absolute;
			top: -8px;
			left: calc(80px - 9px);
			width: 16px;
			height: 16px;
			transform: rotate(45deg);
			background-color: $green1;
		}
	}


	&:hover {
		.p-name-wrap {
			display: inline-block;
		}
	}
}


