//===============================================================================
// TIMEZONES
//===============================================================================

.timezone-wrap {
	overflow: auto;
  white-space: nowrap;
  height: 100%;
}

.zonewrap {
	width: 202px;
	border-right: 1px solid $lgrey;
	display: inline-block;
  vertical-align: top;
  height: 100%;
  white-space: normal;
	

	.zone-header {
		position: absolute;
		z-index: 10;
		background: white;
    padding: 8px 16px 8px 16px;
    margin: 8px 0;
    border-radius: 0 24px 24px 0;

	}

	h2 { 
		font-weight: 300;
		margin: 0 0 0 0; 
		color: $blue1;
	}

	&.empty {

		width: 60px;

		h2 {
			color: $lgrey;
		}
	}
}

.subzoneText {
	color: $grey;
}

.zone-ppl {
	margin: 0;
  max-height: 100%;
  overflow-y: scroll;
  padding: 60px 16px 16px 16px;
  overflow-x: visible;
}

.zone-p-wrap {
	width: 169px;
  height: 64px;
  display: inline-block;
  margin: 4px 0;
  position: relative;
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: 4px;


	img {
		width: 80px;
		height: 80px;
		border-radius: 100%;
		position: absolute;
		top: -9px;
		left: -15px;
	}

	.p-name-wrap {
		width: 50%;
		z-index: 10;
		text-align: left;
		height: 64px;
		vertical-align: middle;
		display: table;
		position: absolute;
		left: 76px;
		top: 0;

	  h4 {
	  	margin: 0 0 4px 0;
	  	font-size: 12px;
	  	display: table-cell;
	  	vertical-align: middle;
	  	z-index: 1;
	  	font-family: 'Roboto Slab', serif;
	  	color: $green2;
	  }

	}

}


