
//===============================================================================
// VARIABLES
//===============================================================================

$ink: #000030;


$grey: #CACCD9;
$lgrey: #E2E2E2;
$vlgrey: #F2F2F2;




$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





