
//===============================================================================
// VARIABLES
//===============================================================================

// $ink: #000030;
$ink: #4a4a4a;

$dgrey: lighten(black, 50%);
$grey: #CACCD9;
$lgrey: #E2E2E2;
$vlgrey: #F2F2F2;

$green1: #005450;
$green2: #005451;
$blue1: #333;
$blue2: #5388AA;
$yellow: #FEC33E;
$orange: #F2663A;
$red: #F04C67;

$fbblue: #4768AD;


$short: 0.3s;
$shortmid: 0.45s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





