
//===============================================================================
// VARIABLES
//===============================================================================

$ink: #000030;

$dgrey: lighten(black, 50%);
$grey: #CACCD9;
$lgrey: #E2E2E2;
$vlgrey: #F2F2F2;

$green1: #46d9b1;
$green2: #2dc0b6;

$fbblue: #4768AD;


$short: 0.3s;
$shortmid: 0.45s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





